# Test Framework API: ui_test_report

Test reporting API.

## [Index](../../README.md)
- [APIs](../README.md)
  - [Test Framework API](./README.md)
    - **[ui_test_report](./ui_test_report.md)**
